.main_movie_con {
  margin-top: 30px;
}

.main_movie_Cart {
  box-shadow: 0px 10px 19px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main_movie_Cart:hover {
  background-color: rgb(236, 236, 236);
}
.main_movie_Cart h5 {
  font-size: 15px;
}
.main_movie_Cart p {
  margin-top: 20px;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.Buttons button {
  padding: 7px 30px 7px;
  font-size: 15px;
  color: white;
  background-color: #f32b4c;
  border: 1px solid rgb(243, 43, 76);
  transition: 0.5s;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px 0px !important;
}

.Buttons button:hover {
  background-color: transparent !important;
  border: 1px solid rgb(243, 43, 76);
  color: rgb(243, 43, 76);
}
.Buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  overflow-y: auto;
}

.AllMovies {
  position: relative;
  left: 80px;
}
@media (min-width: 350px) {
  input {
    /* display: none !important; */
    margin-top: 10px !important;
  }
}
